" VimPlug section                                                               
call plug#begin()                                                               
  Plug 'scrooloose/nerdtree'                                                    
  Plug 'nsf/gocode', { 'rtp': 'vim', 'do': '~/.vim/plugged/gocode/vim/symlink.sh' }
  Plug 'fatih/vim-go', {'do': 'GoInstallBinaries'}                                 
call plug#end()                                                                 

